h1 {
  text-align: center;
}
.container {
  border: 1px dashed #ea4c89;
}

.card {
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  font-weight: 700;
}

.style-1 {
  background-color: #6ab04c;
}

.style-2 {
  background-color: #686de0;
  height: 10rem;
}

.style-3 {
  background-color: #22a6b3;
  height: 15rem;
}

.style-4 {
  background-color: #30336b;
  height: 17rem;
}

/* Flex Start */
.flex {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
}
/* Flex End */

/* Gird Start */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 400px 700px;
  gap: 2rem;
}
/* Gird End */
